MYSQL_ROOT_PASSWORD=

MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_HOST=
MYSQL_PORT=3306

DATABASE_URL=mysql://${MYSQL_USER}:${MYSQL_PASSWORD}@${MYSQL_HOST}:${MYSQL_PORT}/${MYSQL_DATABASE}

NEXTAUTH_SECRET=
NEXTAUTH_URL=

POSTHOG_PROJECT_TOKEN=
POSTHOG_API_KEY=
POSTHOG_PROJECT_ID=
POSTHOG_OTLP_LOGS_URL=https://eu.i.posthog.com/i/v1/logs
OTEL_SERVICE_NAME=the-stack

NEXT_PUBLIC_POSTHOG_PROJECT_TOKEN=
NEXT_PUBLIC_POSTHOG_HOST=https://eu.i.posthog.com

ENCRYPTION_KEY=

DATA_FOLDER=

EMAIL=
GOOGLE_REFRESH_TOKEN=
GOOGLE_CLIENT_SECRET=
GOOGLE_CLIENT_ID=